---
layout: works
title: Édouard U. - Sketchbooking
permalink: /sketchbooking/
---

<article class="center w-90 w-70-ns w-90-xl mw8 mw9-xl mt4 mh4 mv5-ns f6 f3-vw f2-xl">
  <p class="lh-copy ph2 mt0 mb4">
    Sketchbooking
  </p>

  <p class="lh-copy ph2 measure-wide">
    As time presses forward, it's fun to revisit the many scribbled-in sketchbooks and looseleaf papers I've collected over the years and see old ideas and notes that might have been worth recording. Everyone who draws in a serious manner has their own philosophy as to why they draw the way they do, or why the draw in the first place,
  </p>

  <p class="lh-copy tc">—</p>

  <section class="ph2">
    {% for feature in site.data.sketchbooks %}
    <p class="lh-copy">{{ feature.name }}</p>
    <a href="{{ feature.link }}"><img src="{{ feature.cover }}" class="w-100 w-100-ns pb5"></a>
    {% endfor %}
  </section>

  {% include header.html %}

</article>
