---
layout: works
title: Édouard U. - Sketchbooking
permalink: /sketchbooking/
---
<article class="center w-70 ma4 pb5 ph2 mv5-ns">
  <p class="lh-copy f3 i ">SKETCHBOOKING</p>

  <p class="lh-copy f3">
    As time presses forward, it's fun to revisit the many scribbled-in sketchbooks and looseleaf papers I've collected over the years and see old ideas and notes that might have been worth recording. Everyone who draws in a serious manner has their own philosophy as to why they draw the way they do, or why the draw in the first place,
  </p>

  {% for feature in site.data.sketchbooks %}
  <p class="lh-copy f3">{{ feature.name }}</p>
  <a href="{{ feature.link }}"><img src="{{ feature.cover }}" class="w-100"></a>
  {% endfor %}
</article>
{% include header.html %}
